<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>One Card</title>
      <%- include ../partials/head %>
</head>
<body>

  <%- include ../partials/nav %>
    <h2>A look at one card</h2>
    <div class="card" id="one-card"> <ul>
    <li class="side_one"> <%= cards.side_one %> </li>
    <p> </p><p> </p><p></p>
  <li class="side_two">  <%= cards.side_two %></li>
</div>

<form action="/cards/<%= cards.id %>?_method=PUT" method="post">
  <label for ="side_one"><p><strong>   Edit your card!     </strong> </p>Side One </label>
  <input type="text" name="side_one" placeholder="word" value= "<%= cards.side_one %>">
  <p></p>
  <label for ="side_two">Side Two </label>
  <input type="text" name="side_two" placeholder="definition" value="<%= cards.side_two %>">
  <p></P>
  <input type="submit" vaule="Edit" class="edit">
</form>


 <form action="/cards/<%= cards.id %>?_method=DELETE" method="post">

   <input type="submit" value="delete" class="edit">
 </form>

<!--
  <button> edit </button> -->
      </ul>
</body>
</html>
